.ennemy {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3vw;

  &:not(:first-child) {
    margin-top: 0;
  }

  @include before() {
    background: linear-gradient(to right, transparent, transparent 30%, rgba(#000, .2));
  }

  .summoner {
    position: relative;
    width: 14vh;

    @include after() {
      background: radial-gradient(transparent, currentColor 70%);
    }

    &-img {
      display: block;
      border-radius: 50%;
      width: 100%;
      -webkit-filter: grayscale(40%);
    }
  }

  .spells {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
  }
}

.ennemy.dragging {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
  }
}
