.pane.ingame {
  color: #fff;
}

.ennemies {
  display: flex;
  flex-direction: column;
  margin: 2em;
  background: rgba(36, 41, 57, .9);
}

.ennemy {
  flex: 0 0 50%;
  display: flex;
}

.summoner {
  img {
    display: block;
    border-radius: 50%;
    border: 1px solid;
  }
}

.spells {
  flex: 1;
  display: flex;
  align-items: center;
}

.spell {
  flex: 1;
}
